<section class="h-full flex justify-center items-center flex-col">
  <div class="flex flex-col justify-center items-center gap-4">
    <h1
      class="text-5xl font-bold bg-gradient-to-r from-green-500 to-indigo-600 text-transparent bg-clip-text inline-block"
    >
      DEV STREAM
    </h1>
    <p class="text-white text-center">
      Welcome to the Dev Stream! This is a place where you can learn about
      <br />
      different technologies and how to use them.
    </p>
  </div>
</section>
