<nav class="bg-neutral-800 w-52 h-full p-1 flex flex-col gap-2 overflow-auto">
  <header>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <h1
        class="text-3xl font-bold bg-gradient-to-r w-full text-center from-green-500 to-indigo-600 text-transparent bg-clip-text inline-block"
      >
        DEV STREAM
      </h1>
    </a>
  </header>

  @for (item of items; track $index) {
  <app-item-user-sidebar [username]="'andersonzero0'"></app-item-user-sidebar>
  }
</nav>
