<section
  class="h-full flex flex-col justify-start items-center p-4 gap-4 overflow-auto"
>
  <div class="w-full">
    @if (loading) {
    <p>Loading...</p>
    } @else if (error) {
    <p>Error</p>
    } @else {

    <section class="flex flex-col items-start gap-6 w-full relative">
      @if (user?.streaming) {
      <div class="w-full aspect-video">
        @if(user) {
        <app-player [user]="user" />
        }
      </div>
      } @else {
      <div class="w-full flex flex-col justify-center items-center">
        <div
          class="w-full flex justify-center items-center aspect-video dark bg-gradient-to-l to-sky-800 via-sky-500 from-indigo-500"
        >
          <p class="text-white font-mono text-2xl">
            usuário não está transmitindo
          </p>
        </div>
      </div>
      }

      <div class="flex flex-row items-center gap-2 rounded-full z-10">
        <hlm-avatar class="rounded-2xl" [variant]="'medium'">
          <img
            #avatarImage
            src="https://github.com/{{ user?.username }}.png"
            alt="spartan logo. Resembling a spartanic shield"
            hlmAvatarImage
            (load)="extractDominantColor()"
          />
          <span class="text-white bg-stone-900" hlmAvatarFallback>AV</span>
        </hlm-avatar>
        <p>{{ user?.username }}</p>
        <div
          [class]="
            (user?.streaming ? 'bg-green-500' : 'bg-gray-500') +
            ' w-2 h-2 rounded-full'
          "
        ></div>
      </div>
    </section>
    }
  </div>
</section>
