<nav class="bg-stone-100 w-56 h-full p-1 flex flex-col gap-2 overflow-auto">
  <header class="px-2">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div class="flex flex-row p-2 justify-start items-center gap-3">
        <img class="rounded-xl w-10" src="./logo.png" alt="" />
        <h2 class="font-bold text-stone-600 text-lg">StreamGuin</h2>
      </div>
    </a>
  </header>

  <div class="px-2">
    @for (user of users; track $index) {
    <app-item-user-sidebar
      [id]="user.id"
      [username]="user.username"
      [streaming]="user.streaming"
    ></app-item-user-sidebar>
    }
  </div>
</nav>
