.main {
  height: 100vh;

  background-color: var(--background-color);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  color: var(--text-color);
}

.subtitle-link {
  color: var(--secondary-color);
}

.text-stream-offline {
  color: var(--text-color);
}

.box-stream-offline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
